<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <pluginGroups>
  </pluginGroups>
  <proxies>
  </proxies>
  <servers>
    <server>
      <id>github</id>
      <username>pengttyy</username>
      <password>${{secrets.token}}</password>
    </server>
  </servers>
  <mirrors>
  </mirrors>
  <profiles>
        <profile>
          <id>github</id>
          <repositories>
            <repository>
              <id>github</id>
              <name>GitHub OWNER Apache Maven Packages</name>
              <url>https://maven.pkg.github.com/pengttyy</url>
            </repository>
          </repositories>
    </profile>
  </profiles>
   <activeProfiles> 
        <activeProfile>github</activeProfile> 
   </activeProfiles>
</settings>
